
<section class="content">
    <div class="content-block">
      <form class="example-form" [formGroup]="busquedaDinamica" (submit)="buscarRegistro()">
        <div class="row" style="padding-top:20px ;">
          
              <div class="col">
                
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Correo</mat-label>
                    <input matInput placeholder="" formControlName="correo" name="correo">
                  </mat-form-field>
                
              </div> 
              <div class="col">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Rol</mat-label>
                  <input matInput placeholder="" formControlName="rol" name="rol">
                </mat-form-field>
              </div>
              <div class="col">
                
                  <button type="submit" class="btn btn-primary"
                  ><mat-icon class="col-white">
                    search
                  </mat-icon></button> 
         
              </div>
          </div>
          <div class="row">
           
            <div class="col" style="padding-bottom: 30px;">
              <button type="button" mat-mini-fab color="primary" (click)="nuevoRegistro()" >
                <mat-icon>add</mat-icon>
              </button>
            </div>

            <div class="col" style="padding-bottom: 30px;">
              <button type="button" class="btn btn-outline-primary"  (click)="consultarTodos()">Mostrar Todos</button>
            </div>
          
        </div>
      </form>
  
        <div class="mat-elevation-z8">
          <mat-table #table [dataSource]="dato" matSort>
        
           
            <ng-container matColumnDef="correo">
              <mat-header-cell *matHeaderCellDef> Correo </mat-header-cell>
              <mat-cell *matCellDef="let dato"> {{dato.correo}} </mat-cell>
            </ng-container>
        
            
            <ng-container matColumnDef="password">
              <mat-header-cell *matHeaderCellDef> Contraseña </mat-header-cell>
              <mat-cell *matCellDef="let dato"> {{dato.password}} </mat-cell>
            </ng-container>
        
            
            <ng-container matColumnDef="rol">
              <mat-header-cell *matHeaderCellDef> Rol </mat-header-cell>
              <mat-cell *matCellDef="let dato"> {{dato.rol}} </mat-cell>
            </ng-container>
        
            
            <ng-container matColumnDef="editar">
              <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
              <mat-cell *matCellDef="let row"> 
          
                <button type="button" id="btnAccion" class="btn btn-outline-success"(click)="nuevoRegistro()"> 
                  <app-feather-icons [icon]="'edit'" [class]="'tbl-fav-edit'"></app-feather-icons>
                </button>	
             </mat-cell>
            </ng-container>
            <ng-container matColumnDef="eliminar">
              <mat-header-cell *matHeaderCellDef></mat-header-cell>
              <mat-cell *matCellDef="let row"> 
                <button type="button" id="btnAccion" class="btn btn-outline-danger"(click)="eliminarRegistro(dato.id)">
                  <app-feather-icons [icon]="'trash-2'" [class]="'tbl-fav-delete'"></app-feather-icons> 
                </button>
            
          </mat-cell>
            </ng-container>
        
            <mat-header-row *matHeaderRowDef="columnas"></mat-header-row>
            <mat-row *matRowDef="let row; columns: columnas;"></mat-row>
          </mat-table>
        
          <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                         showFirstLastButtons 
                         aria-label="Select page">
          </mat-paginator>
        
          <mat-progress-bar mode="indeterminate" *ngIf="statusBarra"></mat-progress-bar>
        </div>
  
    </div>
  </section>