<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
    <app-breadcrumb [title]="'Bienvenido'" [items]="['Home']" [active_item]="'Bienvenido'"></app-breadcrumb> 
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="header">
            
            <h2>Administrador</h2>
            <button mat-button [matMenuTriggerFor]="menu" class="header-dropdown">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>Action</button>
              <button mat-menu-item>Another action</button>
              <button mat-menu-item>Something else here</button>
            </mat-menu>
          </div>
          <div class="body">
            <div class="row">
              <div class="col-md-12 col-xl-4 d-flex flex-column justify-content-center">
                <div class="m-l-10 m-b-20">
                  <h1>$1,17,289</h1>
                  <h4 class="font-weight-light col-green">Total Income</h4>
                  <p class="mb-2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                    Aenean commodo ligula eget dolor.
                  </p>
                </div>
                <div class="m-l-10">
                  <h1>$65,984</h1>
                  <h4 class="font-weight-light col-orange">Total Expense</h4>
                  <p class="mb-2"> Cras dapibus. Vivamus elementum semper nisi. Aenean
                    vulputate eleifend tellus.
                  </p>
                </div>
              </div>
              <div class="col-md-12 col-xl-8">
                <div class="row">
                  <div class="col-md-6">
                    <h5 class="tx-primary m-b-30">Country Wise Sales</h5>
                    <div class="mb-3 mt-3">
                      <table class="table table-borderless">
                        <tbody>
                          <tr class="tr-height-m">
                            <td class="text-muted">India</td>
                            <td class="w-100 px-0">
                              <mat-progress-bar mode="determinate" class="progress-m progress-round progress-shadow"
                                value="40">
                              </mat-progress-bar>
                            </td>
                            <td>
                              <h5 class="font-weight-bold mb-0">154</h5>
                            </td>
                          </tr>
                          <tr class="tr-height-m">
                            <td class="text-muted">USA</td>
                            <td class="w-100 px-0">
                              <mat-progress-bar mode="determinate"
                                class="progress-m progress-round green-progress progress-shadow" value="40">
                              </mat-progress-bar>
                            </td>
                            <td>
                              <h5 class="font-weight-bold mb-0">423</h5>
                            </td>
                          </tr>
                          <tr class="tr-height-m">
                            <td class="text-muted">Shrilanka</td>
                            <td class="w-100 px-0">
                              <mat-progress-bar mode="determinate"
                                class="progress-m progress-round sky-progress progress-shadow" value="40">
                              </mat-progress-bar>
                            </td>
                            <td>
                              <h5 class="font-weight-bold mb-0">265</h5>
                            </td>
                          </tr>
                          <tr class="tr-height-m">
                            <td class="text-muted">Australia</td>
                            <td class="w-100 px-0">
                              <mat-progress-bar mode="determinate"
                                class="progress-m progress-round orange-progress progress-shadow" value="40">
                              </mat-progress-bar>
                            </td>
                            <td>
                              <h5 class="font-weight-bold mb-0">341</h5>
                            </td>
                          </tr>
                          <tr class="tr-height-m">
                            <td class="text-muted">Japan</td>
                            <td class="w-100 px-0">
                              <mat-progress-bar mode="determinate"
                                class="progress-m progress-round red-progress progress-shadow" value="40">
                              </mat-progress-bar>
                            </td>
                            <td>
                              <h5 class="font-weight-bold mb-0">238</h5>
                            </td>
                          </tr>
                          <tr class="tr-height-m">
                            <td class="text-muted">Itely</td>
                            <td class="w-100 px-0">
                              <mat-progress-bar mode="determinate" class="progress-m progress-round progress-shadow"
                                value="40">
                              </mat-progress-bar>
                            </td>
                            <td>
                              <h5 class="font-weight-bold mb-0">153</h5>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="col-md-6 mt-3">
                    <!-- chart -->
                    <div class="recent-report__chart">
                      <canvas baseChart class="chart" [data]="doughnutChartData" [labels]="doughnutChartLabels"
                        [options]="doughnutChartOptions" [legend]="doughnutChartLegend" [chartType]="doughnutChartType"
                        [colors]="doughnutChartColors"></canvas>
                    </div>
                    <div class="country-chart">
                      <div class="d-flex justify-content-between mx-xl-5 mt-3">
                        <div class="chart-note">
                          <span class="dot dot-product bg-green"></span>
                          <span>Itely</span>
                        </div>
                        <p class="mb-0">$30,289</p>
                      </div>
                      <div class="d-flex justify-content-between mx-xl-5 mt-3">
                        <div class="chart-note">
                          <span class="dot dot-product bg-orange"></span>
                          <span>USA</span>
                        </div>
                        <p class="mb-0">$25,968</p>
                      </div>
                      <div class="d-flex justify-content-between mx-xl-5 mt-3">
                        <div class="chart-note">
                          <span class="dot dot-product bg-purple"></span>
                          <span>India</span>
                        </div>
                        <p class="mb-0">$45,278</p>
                      </div>
                      <div class="d-flex justify-content-between mx-xl-5 mt-3">
                        <div class="chart-note">
                          <span class="dot dot-product bg-red"></span>
                          <span>Shrilanka</span>
                        </div>
                        <p class="mb-0">$21,376</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>